.foodter-item{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #fff;
    z-index: 1;
    .left-item {
        display: flex;
        align-items: center;
        height: 100%;
        width: 400px;
        .icon-block {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            .icon {
                margin-left: 10px;
                font-size: 20px;
            }
            &:hover {
                cursor: pointer;
                background: #eee;
            }
        }
    }

    .center-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        .icon-block {
            background-color: #fff;
            border: 1px solid cornsilk;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10px;
           
            .icon {
                color: #555;
                font-size: 20px;
                &.red {
                    color: red;
                }   
                &.blue{
                    color: green;
                   
                }

                
            }
            &.bac{
                background: grey;
            }
            &:hover{
                background: rgb(175, 175, 175);
            }

            &:hover {
                cursor: pointer;
                box-shadow: 0 0 10px #ddd;
            }
            &.red-bg {
                background: red;
                .icon {
                    color: #fff;
                }
            }
        }
    }
    .right-item {
        display: flex;
        align-items: center;
        justify-content: right;
        .icon-block {
            background-color: #fff;
            border: 1px solid cornsilk;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 40px;
            .icon {
                color: #555;
                font-size: 20px;
                &.red {
                    color: red;
                }   
            }&:hover{
                background: rgb(175, 175, 175);
            }
            &:hover {
                cursor: pointer;
                box-shadow: 0 0 10px #ddd;
            }
            &.red-bg {
                background: red;
                .icon {
                    color: #fff;
                }
            }
        }
    }
}