.user-container {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    height: calc(100vh - 70px);
    width: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.user-container .user-header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.username1s{
    height: 30px;
    width: 30px;
    text-align: center;
    text-transform: uppercase;
}
.user-container .user-header h3 {
    margin: 0;
    font-weight: 400;
}
.user-container .user-header .icon {
    cursor: pointer;
    font-size: 20px;
}
.user-container .user-header-tabs {
    display: flex;
    align-items: center;
    border-bottom: 3px solid rgb(233, 12, 12);
}
.user-container .user-header-tabs .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #555;
}

.user-container .user-header-tabs .tab p {
    margin-left: 10px;
    margin-top: 15px;
    
    
}
.user-container .user-header-tabs .tab.active {
    border-bottom: 2px solid #04796a;
    color: #04796a;
}
.user-container .user-header-tabs .tab:hover {
    cursor: pointer;
    background: #a8e0d9;
}

.iteamuser-block_show-Avatar{
    padding-right: 20px;
    padding-left: 20px;
   
}
.user-container .list-section{
    margin: 10px;
    overflow-y: scroll;
    overflow-y:hidden;
}
.muted2 {
    color: #fff;
    background: #353b48;
    border-radius: 50%;
    height: 22px;
    width: 22px!important;
    padding: 5px;
    margin-left: 25px;
  }
