.record{
  position: absolute;
  /* top: 50px;
  right: 50px; */
  background: aliceblue;
  border-radius: 10px;
  padding: 25px;
  width: 350px;
  margin: 0 auto;
  height:220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
overflow: auto;
top: 50%;
left: 50%;
/* Dịch chuyển ngược lại 50% theo chiều rộng và chiều cao */
transform: translate(-50%, -50%);
}
.row_record{
width: 300px;
height: 100px;
margin: 0 auto;
display: flex;
top: 50%;
left: 50%;
resize: vertical;
overflow: auto;


}
.btn-danger{
  resize: vertical;
  overflow: auto;
  height: 62px;
  width: 200px;
  top: 50%;
  left: 50%;

 
}
.mode-record{
height: 100px;
width: 70px;
top: 50%;
left: 50%;
}
.btn-recordps{
  resize: vertical;
  overflow: auto;
  height: 31px;
  width: 200px;
  top: 50%;
  left: 50%;
}