.stop-block {
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-left: -80px;
    background: aliceblue;
    border-radius: 10px;
    font-size: 5px;
    text-align: center;
    padding: 5px;
    
    .add-people-btn {
        background: rgb(255, 196, 196);
        color: rgb(255, 255, 255);
        font-size: 5px;
        border-radius: 5px;
        margin: 10px;
        &:hover {
            background: rgb(255, 0, 0);
        }
    }
}