.screem-request {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .body {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;

            $breakpoint-mobile: 600px;
            $breakpoint-tablet: 768px;
            $breakpoint-tablet2: 769px;
            $breakpoint-tablet-max: 1024px;
            $breakpoint-pc: 1025px;

            @media (min-width: $breakpoint-tablet2) {
                .video1{
                    margin-left: 100px;
                    width: 45%;
                    height:100%;
                    video{
                        width: 100%;
                        height: 100%;
                    }
                }
                
                
        .right-side {
            margin-right: 100px;
            justify-content: center;
            .thamgia{
                text-align: center;
                font-size: 1.75rem;
                line-height: 2.25rem;
                font-family: 'Google Sans',Roboto,Arial,sans-serif;
            }
          
            .btn {
                width: 220px;
                height: 50px;
                border-radius: 24px;
                background-color: #1a73e8;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }
           
            .bac{
                margin-top: 10px;
               
                .icon-block {
                    padding-right: 10px;
                   
                } 
        }
        }
            }

            @media (max-width: $breakpoint-tablet) {
                .scr {
                    position: relative;
                    width: 100%;
                    height: 100%;
                .video1{
                    width: 100%;
                    height: 50%;
        
                    video{
                        width: 100%;
                        height: 50%;
                        position: absolute;
                    }
                }
    
                .yeucau {
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    position: absolute;
                    .thamgia{
                        text-align: center;
                        font-size: 1.75rem;
                        line-height: 2.25rem;
                        font-family: 'Google Sans',Roboto,Arial,sans-serif;
                    }
                    
                    .btn {
                        width: 100%;
                        height: 50px;
                        border-radius: 24px;
                        background-color: #1a73e8;
                        color: white;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        margin: 4px 2px;
                        cursor: pointer;
                    }
                    
                    .bac{
                        margin-top: 10px;
                        
                        .icon-block {
                            padding-right: 10px;
                            
                        } 
                    }
                }  
            }
        }
    }
}

