.header {
    background: #00ff377a;
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    padding        : 20px;
    box-sizing     : border-box;
    padding: 20px;
    height: 100px;
    box-shadow     : 3px 3px 10px -2px rgba(0, 0, 0, .35);
    

    .logo {
        display    : flex;
        align-items: center;
        width      : 124px;

        img {
            width: 100%;
        }

        .help-text {
            font-size   : 22px;
            padding-left: 4px;
            color       : brown;
        }
    }

    .action-btn {
        display    : flex;
        align-items: center;

        .icon-block {
            font-size: 20px;
            padding  : 10px;
            color    : aqua;
        }
        .date{
           font-family: 'Google Sans',Roboto,Arial,sans-serif;
           font-size: 1.5rem;
           font-weight: 400;
           letter-spacing: 0;
           line-height: 1.5rem;
           color: #5f6368;
           margin-bottom: 10px;
        }

        .user-infor {
            background-color: white;
        }

        nav {
            margin    : auto;
            position  : relative;
            width     : 200px;
            min-width : 70px;
            height    : 100px;

            p {
                border-radius  : 50%;
                width          : 50px;
                margin-left: 70px;
                position       : relative;
                background     : #808080;
                height         : 40px;
                text-transform : uppercase;
                color          : ivory;
                font-weight    : 200;
                display        : flex;
                flex           : 1;
                justify-content: center;
                align-items    : center;
                box-shadow     : 4px 4px 20px -2px rgba(0, 0, 0, .35);
                transition     : all .4s;
            }

            &:hover {
                p {
                    transform : translateY(-5px);
                    box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, .35);
                }

                &:active {
                    p {
                        transform : translateY(20px);
                        box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, .35);
                    }
                }
            }

            ul {
                padding-left : 0;
                padding-top  : 0;
                margin-top   : 0;
                list-style   : none;
                overflow     : hidden;
                text-align   : right;
                margin-bottom: 22px;
                text-align   : center;
                transition   : all .4s ease-out;
                height       : 100%;

                li {
                    border-radius: 2%;
                    position     : relative;
                    display      : inline-block;
                    margin-left  : 35px;
                    line-height  : 1.5;
                    width        : 100%;
                    margin       : 0;
                    margin-bottom: 5px;
                    background   : #808080;
                    transition   : background 3s;
                    box-shadow   : 2px 2px 10px -2px rgba(0, 0, 0, .35);

                    &:hover {
                        background: tomato;
                        transition: background .45s;
                    }
                }

                .kha {
                    display        : block;
                    color          : ivory;
                    font-size      : 18px;
                    font-weight    : 200;
                    text-decoration: none;
                    height         : 40px;
                    transition     : color .3s;
                    
                }
            }
        }

        input {
            position: absolute;
            left    : 0;
            top     : 0;
            right: 200px;
            width   : 100%;
            z-index : 1;
            opacity : 0;
            cursor  : pointer;
            height  : 40px;
            
        }

        #toggle {
            &:checked {
                ~ul {
                    height: 0%;
                }
            }
        }

    }
}