.navbar {
  background: linear-gradient(
90deg, rgb(77, 163, 203) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;


}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
 
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
   
    transform: translate(10%, -10%);
    /* transform: translate(25%, 50%); */
  }
  .navbar-logo img{
    width:50px;
    height:50px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
.action-btn {
  display: flex;
  align-items: center;
  color: rgb(165, 164, 164);
}
.action-btn .date {
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;

  margin-bottom: 10px;
}
.action-btn .user-infor {
  background-color: white;
}
.action-btn nav {
  margin: auto;
  position: relative;
  width: 200px;
  min-width: 70px;
  height: 100px;
}
.action-btn nav p {
  border-radius: 50%;
  width: 50px;
  margin-top: 20px;
  margin-left: 70px;
  position: relative;
  background: #808080;
  height: 40px;
  text-transform: uppercase;
  color: ivory;
  font-weight: 200;
  display: flex;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, .35);
  transition: all 0.4s;
  z-index: 1;
}
.action-btn nav:hover p {
  transform: translateY(-5px);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, .35);
}
.action-btn nav:hover:active p {
  transform: translateY(20px);
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, .35);
}
.action-btn nav ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 22px;
  text-align: center;
  transition: all 0.4s ease-out;
  height: 100%;
}
.action-btn nav ul li {
  border-radius: 2%;
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  background: #808080;
  transition: background 3s;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, .35);
}
.action-btn nav ul li:hover {
  background: tomato;
  transition: background 0.45s;
}
.action-btn nav ul .kha {
  display: block;
  color: ivory;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  height: 40px;
  transition: color 0.3s;
}
.action-btn input {
  position: absolute;
  left: 0;
  top: 0;
  right: 200px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  height: 40px;
}
.action-btn #toggle:checked ~ ul {
  height: 0%;
}

