.background-home{
    
    text-align:center;
    text-decoration: none;
}
.background-home_text{
    text-decoration: none;
}

@media only screen and (min-width:769px){
	.listCall{
		height:320px;
		width:400px;
		margin: 10px;
		overflow-y: scroll;
		scroll-behavior: smooth;
	}
	.force-overflow
{
	min-height: 500px;
}
}
@media only screen and (max-width:768px){
	.listCall{
		height:320px;
		margin: 10px;
		overflow-y: scroll;
		scroll-behavior: smooth;
		
	}
	.force-overflow
{
	min-height: 100%;
}
}
/* .listCall{
    height:320px;
    width:400px;
    margin: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    
} */

/* #style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: white;
} */
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-2::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	background-color: silver;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(0deg,
	                                          rgba(255, 255, 255, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, 0.5) 50%,
											  rgba(255, 255, 255, 0.5) 75%,
											  transparent 75%,
											  transparent)
}

