
   @media only screen and (min-width:769px){
    .containers {
      position: relative;
      margin: auto;
      overflow: hidden;
      height:500px;
      width:400px;
      background:  #00ff377a;
      box-shadow: 10px 10px 20px rgba(	#808080, .5);
      border-radius: 10px;
    }
    .containers h4{
      font-family: Monospace;
    }
   }
  
  @media only screen and (max-width:768px){
    .containers {
    position: relative;
    margin: auto;
    overflow: hidden;

    background:  #00ff377a;
    box-shadow: 10px 10px 20px rgba(	#808080, .5);
    border-radius: 10px;
    
        width: 100%;
    
  }
  .containers h4{
    font-family: Monospace;
  }
}
  