.home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .shadow {
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
        -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
        -webkit-user-select: none; /* Chrome, Safari, and Opera */
        -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    }
    .body {
        background-image: url("../../image/backg1.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media(max-width:768px) {
            .left-side{
                max-width: 100%;
                .content{
    
                    h2{
                        font-size: 33px;
                        font-weight: 500;
                        margin: 0;
                        padding-left: 20px;
                    }
                    p{
                        // font-size: 18px;
                        margin-top: 50px;
                        font-weight: 300;
                        letter-spacing: .01428571em;
                        font-family: Roboto,Arial,sans-serif;
                        font-size: .9rem;
                        font-weight: 500;
                        line-height: 1.15rem;
                        padding-left: 20px;
                    }
                    .action-btns {
                        margin-top: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 15px;
    
                        .btn {
                            cursor: pointer;
                            display: flex;
                            align-content: center;
                            font-size: 16px;
                            padding: 15px;
                            border: none;
                            outline: none;
                            width: 100%;
                            background: none;
                            border-radius: 5px;
                            color: chartreuse;
                            text-decoration: none;
                          
                            .icon-block {
                                padding-right: 10px;
                            }
                            &:hover {
                                background: aliceblue;
                            }
                        }
                       
                    }
                    .input-block {
                        margin-left: -100pxnp;
                        display: flex;
                        flex: 1;
                        // margin-left: 30%;
                        margin-bottom: 40px;
                    
                        .input-section {
                            position: relative;
                          
                            margin-right: 10px;
                            .icon-block {
                                position: absolute;
                                top: 50%;
                               
                                transform: translate(10px, -50%);
                                color: chartreuse;
                                
    
                            }
                            input {
                                font-size: 16px;
                                height: 60px;
                                border: 1px solid black;
                                border-radius: 5px;
                                padding-left: 35px;
                                width: 100%;
                                box-sizing: border-box;
                                outline: none;
                            }
                        }
                    }
                }
                .help-text {
                    margin-top: 30px;
                    padding-top: 25px;
                    border-top: 1px solid none;
                    a{
                        text-decoration: none;
                        color: rgb(255, 0, 0);
                    }
                }
            }
        }
        @media(min-width:769px) {
            .left-side{
                max-width: 500px;
                .content{
    
                    h2{
                        font-size: 44px;
                        font-weight: 400;
                        margin: 0;
                    }
                    p{
                        // font-size: 18px;
                        margin-top: 50px;
                        font-weight: 300;
                        letter-spacing: .01428571em;
                        font-family: Roboto,Arial,sans-serif;
                        font-size: .875rem;
                        font-weight: 400;
                        line-height: 1.25rem;
                    }
                    .action-btns {
                        margin-top: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                        .btn {
                            cursor: pointer;
                            display: flex;
                            align-content: center;
                            font-size: 16px;
                            padding: 15px;
                            border: none;
                            outline: none;
                            background: none;
                            border-radius: 5px;
                            color: chartreuse;
                            text-decoration: none;
                            .icon-block {
                                padding-right: 10px;
                            }
                            &:hover {
                                background: aliceblue;
                            }
                        }
                        .input-block {
                            margin-left: 20px;
                            display: flex;
                            flex: 1;
                            .input-section {
                                position: relative;
                                margin-right: 10px;
                                .icon-block {
                                    position: absolute;
                                    top: 50%;
                                    transform: translate(10px, -50%);
                                    color: chartreuse;
                                }
                                input {
                                    font-size: 16px;
                                    height: 60px;
                                    border: 1px solid black;
                                    border-radius: 5px;
                                    padding-left: 35px;
                                    width: 100%;
                                    box-sizing: border-box;
                                    outline: none;
                                }
                            }
                        }
                    }
                }
                .help-text {
                    margin-top: 30px;
                    padding-top: 25px;
                    border-top: 1px solid none;
                    a{
                        text-decoration: none;
                        color: rgb(255, 0, 0);
                    }
                }
            }
            .right-side {
                .content {
                    border: 1px solid azure;
                    padding: 30px;
                    width: 100%;
                    max-width: 650px;
                    border-radius: 5px;
                    box-sizing: border-box;
                    box-shadow: 0 1px 0 black, 0 2px, 6px, 2px black;
                    img {
                        width: 100%;
                        border-radius: 5px;
                    }
                }
            }
        }
      
        
       
    }
}
